@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@1&family=Roboto+Mono:wght@300&display=swap');

.wand-info {
  display: flex;
  flex-direction: column;
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  text-align: center;
  width: 75vw;
  height: 75vh;
  margin-bottom: 20px;
}





.facts, .famous-wand, .wand-maker, .materials, .substances, .quote, h2 {
  margin:10px;
  font-family: 'Baskervville', serif;
  font-size: 18px;
}
