.wand-info {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  margin: 10px;
}

.wand-header {
  text-align: center;
  margin:10px
}

.fact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facts {
  display: flex;
}

.quote {
  margin:10px
}

.magical-substances-container {
  display: flex;
  flex-direction: column;
}
.magical-substances {
  display: flex;
}

h2 {
  margin:5px
}