.favorite-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 6px groove rgb(56, 211, 203);
  width: 40%;
  margin: 10px;
  border-radius: 12px;
  height:30vh
}

.favorite-card:hover {
  scale: 1.05;
  transition: 0.5ms;
  background-color: rgb(62, 194, 187);
}

.favorite-button {
  width: 50%;
  margin-top: 5px;
  background-color: rgb(152, 179, 177);
}

.favorite-button:hover {
  background-color: rgb(76, 128, 124);
  scale: 1.05;
  transition: 0.5ms;
}