.favorite-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid black;
  width: 45%;
  margin: 10px;
  border-radius: 7px;
  height:30vh
}

.favorite-card:hover {
  scale: 1.05;
  transition: 0.5ms;
  background-color: lightgray;
}

.favorite-button {
  width: 50%;
  margin-top: 5px;
}

.favorite-button:hover {
  background-color: rgba(112, 112, 190, 0.68);
  scale: 1.05;
  transition: 0.5ms;
}