.spell-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 6px groove gray;
  width: 45%;
  margin: 10px;
  border-radius: 30px;
}

.spell-card:hover {
  scale: 1.05;
  transition: 0.5ms;
  background-color: lightgray;
}

.spell-button {
  width: 50%;
  margin-bottom: 5px;
}

.spell-button:hover {
  background-color: rgba(112, 112, 190, 0.68);
  scale: 1.05;
  transition: 0.5ms;
}

.description {
  text-align: center;
}