.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wand-image {
  margin-top: 15px;
  height: 375px;
  cursor: pointer;
}

.wand-image:hover {
  scale: 1.1;
  transition: 0.6ms;
  background: linear-gradient(rgba(247, 247, 36, 0.768), #33333300 25%);
  border-radius: 75px;
}

@media (prefers-reduced-motion: no-preference) {
  .wand-image {
    animation: wand-image-spin infinite 7s linear;
  }
}

@keyframes wand-image-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 400px) {
  .wand-image {
    height: 250px;
  }

  .home-title {
    font-size: 16px;
  }
}
